#logo {
    margin: 20px;
}

body {
    background-color: black;
    color: white;
    vertical-align: baseline
}

header {
    margin: 0 15.5% 0 15.5%;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    border: solid;
}

#header-h2 {
    font-family: "COURIER NEW";
}

#header-p {
    font-family: "COURIER NEW";
}

main {
    margin: 50px 17% 50px 17%;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    border: solid;
}

#main-h3 {
    font-family: "COURIER NEW";
}

footer {
    margin: 0 18% 0 18%;
    padding: 13px;
    border-radius: 13px;
    text-align: center;
    border: 2px solid;
}

#footer-p {
    font-family: "COURIER NEW";
}

/* PROJECTS */


.project-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    align-items: start;
    margin-top: 48px;
}

@media (max-width: 1024px) {
    .project-list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

.project {
    border: 1px solid;
    border-radius: 15px;
}

.project-image {
    margin-top: 20px;
}

.project-languages {
    padding: 8px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-family: "COURIER NEW";
}

.project-name {
    font-family: "COURIER NEW";
}

.project-description {
    font-family: "COURIER NEW";
}

.project-links {
    margin: 0 0 10px 0;
}

.button {
    font-family: "calibri";
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid #ffffff;
}

.button:hover {
    background-color: #ffffff2a
}